doctype html
html
    head
        title Michał Woźniczak
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        // build:css css/vendor.css
        link(rel='stylesheet' type='text/css' href='../bower_components/skeleton/css/normalize.css')
        link(rel='stylesheet' type='text/css' href='../bower_components/skeleton/css/skeleton.css')
        // endbuild
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Exo+2:300,400,600,900|Merriweather:300italic&subset=latin,latin-ext')
        link(rel='stylesheet' type='text/css' href='./styles/styles.css')

        // build:js js/all.js 
        script(src="../bower_components/jquery/dist/jquery.min.js")
        script(src="../bower_components/angular/angular.js")
        script(src="../bower_components/angular-vertilize/angular-vertilize.js")
        script(src="../bower_components/respond/dest/respond.min.js")
        script(src="./js/main.js")
        // endbuild 
    body(ng-app='mwCV' ng-controller='CVController as cvCtrl')
        #topHeader
            #topContent
                .row
                    #name.twelve.columns
                        h1.
                            Michał Woźniczak
                        span.
                            Developer, Engineer, UI Designer
                #testimonialBox.row
                    .twelve.columns
                        .container
                            for row in testimonials
                                .row.testimonialSet(vertilize-container)
                                    for testimonial in row
                                        .three.columns
                                            .testimonialContent(vertilize)
                                                if testimonial.soundbite
                                                    |!{md(testimonial.soundbite)}
                                                else
                                                    |!{md(testimonial.content)}
                                            .testimonialCaption
                                                .row.
                                                    -- #{testimonial.author}
                                                .row
                                                    sup= testimonial.author_title
        //- .row
        //-     .twelve.columns.wideHeader
        //-         h2 The Pitch
        //- .container
        //-     .row
        //-         .twelve.columns
        //-             :markdown
        //-                 ### Who am I?
        //-                 I am, first and foremost, an engineer. During my career I have conceived, developed and put into production innumerable web, desktop, and command-line applications. I have vast experience in delivering quality products ranging from simplest 'calling-card' websites (such as this one!) or one-off scripts, to high-availability web applications exposing a web API while communicating with varied data sources of their own, and sophisticated automation tooling capable of working with hundreds of machines.

        //-                 ### Not just an engineer

        //-                 However, only calling myself an engineer would not provide the full picture of what I bring to the table. I am not just an expert developer, but also hold a degree in Social Psychology with experience in usability and user experience design. This grants me a relatively unique perspective that I have found somewhat lacking among my colleagues focused solely on engineering, or solely on the visual.

        .row
            .twelve.columns.wideHeader
                h2 Skills & Education
                mixin skill_list(skillset)
                    if skillset.emphasise
                        h3 #{skillset.title}
                    else
                        h4 #{skillset.title}
                    ul
                        for skill in skillset.items
                            li.knownTech(class="#{skill.level}")= skill.name
        .container
            .row
                .seven.columns
                    h3 Programming languages
                    .row
                        .six.columns
                            +skill_list(skills.code)
                        .six.columns
                            +skill_list(skills.web_frameworks)
                    .row
                        .twelve.columns
                            +skill_list(skills.versioning)
                    .row
                        .twelve.columns
                            +skill_list(skills.templating)
                        .twelve.columns
                            +skill_list(skills.data)
                        .twelve.columns
                            +skill_list(skills.visual)
                .five.columns
                    h3 Spoken languages
                    ul
                        for language in skills.languages
                            li
                                strong=language.name + " "
                                span=language.level

                    h3 Education
                    .row
                            strong School: 
                            span= education.school
                    .row
                            strong Major: 
                            span= education.major

        .row
            .twelve.columns.wideHeader
                h2 Work Experience
            .container
                for year in history_years
                    h4= year
                    for exp in history[year]
                        .row.workExp
                            .five.columns.employer
                                strong= exp.employer
                                div= exp.title
                            .seven.columns.responsibilities
                                ul
                                    for resp in exp.responsibilities
                                        li= resp
        #footer.row.wideHeader
            twelve.columns.
                Content Copyright &copy; 2015 Michał Woźniczak | Source for CV builder tool available on gitHub